---
import type { CollectionEntry } from 'astro:content';
import Pill from './Pill.astro';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { data, slug } = Astro.props.project;
---

<div class='hero stack gap-4 start']}>
	<div class="stack gap-2">
		<h1 class="title">{data.title}</h1>
		<div class="tags">
			{data.tags.map(tag => <Pill>{tag}</Pill>)}
		</div>
		{data.description && <p class="tagline">{data.description}</p>}
	</div>
	<slot />
</div>

<style>
	.tags {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}


	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-md);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-3xl);
			font-weight: 700;
		}
	}
</style>
